cycler==0.10.0
gdbn==0.1
gnumpy==0.2
joblib==0.10.3
Keras==1.1.1
Lasagne==0.1
matplotlib==1.5.3
nolearn==0.6.0
numpy==1.11.2
pkg-resources==0.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
PyYAML==5.1
scikit-learn==0.18
scikit-neuralnetwork==0.7
scipy==0.18.1
six==1.10.0
sklearn==0.0
tabulate==0.7.7
Theano==0.8.2
xgboost==0.6a2
